html {
  text-align: center;
}

@font-face {
    font-family: Wow;
    src: url("../dist/font.otf") format("opentype");
}

h1 {
  margin: 0;
}

body {
  background-image: url(../dist/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.title {
  font-size: 35px;
  font-family: Wow
}

.btn {
  font-family: Wow
  font-size: 15px;
  background: #d9c334;
  padding: 10px 12px 10px 12px;
}
